<!doctype html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin table Examples</title>
    <meta name="description" content="这是一个 table 页面">
    <meta name="keywords" content="table">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/blog/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/blog/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/blog/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/blog/assets/css/admin.css">
    <link rel="stylesheet" href="/blog/assets/css/editormd.css">
    <script type="text/javascript" src="/blog/assets/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/blog/assets/js/jquerysession.js"></script>
    <script type="text/javascript" src="/blog/assets/js/editormd.min.js"></script>
    <script type="text/javascript" src="/blog/assets/js/plugins/image-dialog/image-dialog.js"></script>
    <script type="text/javascript" src="/blog/assets/js/plugins/code-block-dialog/code-block-dialog.js"></script>
    <script type="text/javascript" src="/blog/assets/js/plugins/table-dialog/table-dialog.js"></script>
    <script th:inline="javascript">
        $(function () {
            $.ajax({
                async: false,
                type: 'GET',
                url: "/blog/category/all",
                dataType:'json',
                success:function (result) {
                    if(result.status==0){
                        for(var i=0;i<result.data.length;i++){
                            $("#cate").append("<option value='result.data[i].id'>"+result.data[i].name+"</option>")
                        }
                        $("#cate:eq(0)").attr('selected','selected');
                    }
                },
                error: function (result) {
                    alert("失败");
                }
            });
            var editor = editormd("editor", {
                // width  : "100%",
                height : 640,
                path   : "/blog/assets/lib/",
                imageUpload    : true,
                imageFormats   : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL : "/blog/admin/article/upload",
            });
            var uid=[[${session.userlogin.id}]];
            $("#btnpost").click( function (){
                console.log("uid="+uid);
                $.ajax({
                    async: false,
                    type: 'POST',
                    url: "/blog/admin/article/"+uid+"/add",
                    data: $("#postform").serialize(),
                    dataType:'json',
                    success:function (result) {
                        if(result.status==0)
                            alert("成功");
                        window.location.href = "/blog/admin/index";
                    },
                    error: function (result) {
                        alert("失败");
                    }
                });
            });
        });
    </script>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<div th:replace="/admin/common::navtop"/>

<div class="am-cf admin-main">
    <!--引入侧边栏-->
    <div th:replace="/admin/common::side"></div>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">

    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">发布文章</strong></div>
    </div>

    <div class="am-tabs am-margin" data-am-tabs="{noSwipe: 1}">
        <ul class="am-tabs-nav am-nav am-nav-tabs">

        </ul>

        <div class="am-tabs-bd">

            <div class="am-tab-panel am-fade">
                <form class="am-form" id="postform">
                    <div class="am-g">
                        <div class="col-sm-1" >
                            <h3>文章标题</h3>
                        </div>
                        <div class="col-sm-11">
                            <input type="text" name="title" class="am-input-sm">
                        </div>
                    </div>
                    <br>
                    <div id="editor">
                        <textarea rows="10" style="display:none;" name="content">### 请输入内容</textarea>
                    </div>
                    <div class="am-g">
                        <div class="col-sm-1" >
                            <h3>文章分类</h3>
                        </div>
                        <div class="col-sm-3">
                            <select id="cate" name="cid">
                            </select>
                        </div>
                        <div class="col-sm-8"/>
                    </div>
                    <div class="col-sm-12 am-margin">
                        <input type="button" id="btnpost" class="am-btn am-btn-primary am-btn-xs" value="发布"></input>
                        <input type="button" class="am-btn am-btn-primary am-btn-xs" value="重置"></input>
                    </div>
                </form>
            </div>


        </div>
    </div>


</div>
    <!-- content end -->
</div>

<footer>
    <hr>
    <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>
<script src="/blog/assets/js/zepto.min.js"></script>
<script src="/blog/assets/js/amazeui.min.js"></script>
<script src="/blog/assets/js/app.js"></script>
</body>
</html>
