<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vi3nty.blog.mapper.MessageMapper">

    <update id="updateStatus">
        update message set status =#{status} where id in <foreach collection="ids" item="id" open="(" separator="," close=")">#{id}</foreach>
    </update>

    <select id="selectLateestNotice">

    </select>
</mapper>
